html{
    background-color:rgb(189, 187, 248);
    background-image: url("hyrax illustr.png"), url("hyrax_right.png");
    background-repeat: repeat-y;
    background-position: right, left;
    background-size: 10%;
color: rgb(107, 24, 255);
font-family: "Roboto Mono", monospace;
line-height: 180%;
position:center;
margin:0; padding: 0;
}

body{
text-align: left;
width:70%;
position:center;
margin:auto;
overflow:auto;
z-index:1;
}

#wrapper {
     width: 80%; margin: auto; 
    } 

nav, header, footer {
width:100%; 
margin: 0;
padding-bottom: 4em;
}

h1 {
    color: rgb(107,24,255);
    font-family: "Roboto Mono", monospace, sans-serif;
    font-size: 5em;
    text-decoration-line: underline;
    line-height: 170%;

}

h2 {
    color: rgb(107,24,255);
    font-size: 1.5em;
    text-transform: uppercase;
}

h3 {
    color: rgb(107,24,255);
    font-size: 0.5 em; 
    font-weight: 250;
}

ul#mainNav {
    list-style-type: none;
    text-align: left;
    display: inline;
    position:relative;
    top:0;
    left:0;
}

img {
        width: 55%;
        height:auto;
        padding: 5em;
        z-index:-1;
}
/*
hr{
    color: rgb(107,24,255);
}
*/

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

hr{
    border-color: rgb(107, 24, 255);
}

    li a:link{
        color:rgb(107,24,255);
    }

    li a:visited{
        color:rgb(33, 8, 92);
    }

    li a:hover{
        color:rgb(166, 33, 113);
    }

    @media only screen and (max-width: 480px) {} /* smaller than mobile */ 
    @media only screen and (max-width: 979px) {} /* smaller than tablet */ 
    @media only screen and (max-width: 1200px) {} /* smaller than desk */ 

    #wrapper { width: 80%; margin: auto; } 
    .column { 
        width: 33.33%; 
        float: left; 
        margin: 10%; }
        
     @media only screen and (max-width: 480px) { 
        .col-6 { 
            width: 100%; 
            float: left; 
            margin: 0%; 
        } } 